:root{
    --font-color: #111;
    --main-color: #fff;
    --colrr: #d4af37;
    /*    #8b8b8b
          #cbd2d9
          */
}

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header
{
    display:flex;
    position:sticky;
    top:0;
    justify-content: space-between;
    align-content: center;
    transition: 0.6s;
    padding: 2rem;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color:var(--font-color);
    text-decoration: none;
    font-size:2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform-style: 0.6s;
}
header ul
{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    position: relative;
    list-style: none;
    color: var(--font-color);
}

header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--font-color);
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

header.sticky
{
    position:sticky;
    padding:1rem;
    background: var(--font-color);
}
header.sticky .logo,
header.sticky ul li,
header.sticky ul li a
{
    color: var(--main-color);
}
.admin-title a
{
    text-decoration: none;
    color:#111;

    text-transform: uppercase;
}
.admin-button {
    display: block;
    border-radius: 10%/10%;
    font-size: 25px;
    padding:6rem;
    transition:0.5s;
    background: #66686a;
}

.burger-button:hover {
    background: rgba(215, 148, 68, 0.99);
}

.category-button:hover {
    background: #3c623f;
}

.status-button:hover {
    background: #4bb0bc;
}

.articles-button:hover {
    background: #76738d;
}
