@import 'style.css';


.menu-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url("../img/backgrounds/menu-bg.jpg");
    background-position: 50% 35%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.menu-title-item {
    font-size: 4.5em;
    color: #fff;
}

